<h1>Hello From Australia</h1>
<p>Dear <%= @recipient %>,</p>
<p>How are you doing?  I have been having the best time exploring the rainforests of Australia.</p>
<p/><%= @recipient %>, you would not believe how beautiful it is here. </p>
<p>Looking forward to seeing you soon! I'll bring you back a souvenir!</p> 
<p>Cheers,</p>
<p>Code and Travel Enthusiast <%= @sender %></p>
