<h1>Favorite Traveling Photos</h1> 
  <ul>
    <li><img src='/img/canyon.jpg' alt='A photo of a canyon.'/></li>
    <li><img src='/img/city.jpg' alt='A photo of a city.'/></li>
    <li><img src='/img/mountain.jpg' alt='A photo of a mountain.'/></li>
  </ul>
